<div class="question-wrapper" ng-if="listAllCtrl.allQuestions" ng-repeat="question in listAllCtrl.allQuestions">
    <h3>{{question.question}}</h3>
    <div ng-class="{green: question.difficulty == '1', yellow: question.difficulty == '2', red: question.difficulty == '3'}">
        {{question.difficulty}}</div>

    <div class="gear" ng-click="listAllCtrl.showModalFunction()">
        <img src="./styles/assets/gear.svg" alt="" />
    </div>
    <ul>
        <li>{{question.options[1]}}</li>
        <li>{{question.options[2]}}</li>
        <li>{{question.options[3]}}</li>
        <li>{{question.options[4]}}</li>
    </ul>
</div>




.question-wrapper > div { float: right; padding: 3px; border-radius: 2px; } .question-wrapper ul { clear: both; display:
flex; flex-wrap: wrap; } ul li { width: 40%; margin-bottom: 1rem; margin-right: 1rem; text-align: justify; padding: 0.5em;
} label { padding: 0.5rem; line-height: 1.15rem; } li input { float: left; } ul li label:hover, input:hover + label { opacity:
0.65; } label, input[type="radio"], input[type="range"] { cursor: pointer; }